{% extends 'base.html' %}

{% block head %}
<title>Machine Learning Pipeline</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Machine Learning Pipeline</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}



    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>

  <center>
    <h1>Choose an age between 0 and 100</h1>
    <div class="form">
        <form action="/prediction/" method="POST">
            <input type="text" name="age" id="age">
            <input type="submit" value="Predict">
        </form>
    </div>



    <!--<a href="/prediction/" >Data Prediction API</a>
    {% if api_response|length > 1 %}
      Status: {{api_status}}
      Response: {{api_response}}
    {% endif %}
  </center>



  <center>
    <a href="/feature_engineering/" >Feature Engineering</a>
  </center>
  -->

{% endblock %}
